.gallery {
  max-width: 1200px;
  display: grid;
  grid-template-rows: repeat(6, 14%);
  grid-template-columns: repeat(2, 58%);

  margin: auto;
  padding: auto;
  justify-content: center;
}

.gallery>a{
  margin: 16px 40px;
}

.gallery__img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.gallery__video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
