.gallery {
    max-width:100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
.gallery_column {
    flex-basis: 20%;
    width: 100%;
    padding: 10px;
    margin: 8px;
  }
  
  .gallery__img{
    margin-top: 8px;
    vertical-align: middle;
    height: auto;
    max-width: 100%;
  }

  .gallery__video{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: auto;
  }