/* Variables et utilitaires
   ========================================================================== */

/****** Variables (peuvent être utilisées dans tous les fichiers) *******/
$couleurTexte : #022b50;
$couleurTitres : darkmagenta;
$couleurDominante : darkmagenta;
$couleurSecondaire : #418cff;
$couleurContraste : #efefef;
$boxShadow : 5px 5px 5px;

/*** Clearfix ***/
@mixin clearfix {
    &:after {
    content: "";
    display: table;
    clear: both;
    }
}

/*** Harmoniser le modèle de boîte avec Box-Sizing ***/
html {
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing:inherit
}

/* Images fluides */
img{
    max-width: 100%;
}

/*** Styles de base ***/
abbr[title]{
    text-decoration: none;
    cursor:help;
    &:hover{
        background-color: rgba(244, 161, 71, 0.25);
    }
}

/** Accessibilité
  * Pour cacher visuellement tout en gardant accessible un contenu:
  * screen-reader-only ou visuallyhidden **/
  .screen-reader-only,
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    .focusable{
        &:active, &:focus{
            clip: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            position: static;
            width: auto;
        }
    }

}